
# OSX crap
.DS_Store

log/
uploads/
db/
*.sql
tmp/
t/data/

# Build files
_build/
Build
MYMETA.*
blib/

# Config files
development.yml
staging.yml
production.yml

# Vim backup files
*.swp
*.swn
*.swo
